@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .c-toast-slide {
    animation: animate 700ms;
  }

  @keyframes animate {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
}
